body { background: #cce28; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 38px; display: flex; }
.block-search-0 { color: #33923a; font-size: 15px; margin-bottom: 5px; }
.block-config-1 { color: #736c9; font-size: 12px; margin-bottom: 5px; }
.block-shipping-2 { color: #8036a3; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #721179; font-size: 16px; margin-bottom: 5px; }
.block-database-4 { color: #5b8574; font-size: 15px; margin-bottom: 5px; }
.block-validator-5 { color: #35e00d; font-size: 21px; margin-bottom: 5px; }